<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div style="box-shadow: 1px 1px 1px 1px #ccc">
        <div class="bg-primary p-2" style="border-radius: 2px">
          <div class="text-justify font-italic" style="font-size: 20px">
            Categories
          </div>
        </div>

        <div class="m-3">
          <a class="text-decoration-none" routerLink="/view/Mens">Men's Fashion</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Women's Fashion</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Kid's Fashion</a>
        </div>
        <div class="m-3" style="box-shadow: 1px 1px 1px 1px #ccc"></div>
        <div class="m-3 mt-5">
          <a class="text-decoration-none" href="#">Electronics</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" routerLink="/view/Home">Home Appliances</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Furniture</a>
        </div>
        <div class="m-3" style="box-shadow: 1px 1px 1px 1px #ccc"></div>
        <div class="m-3 mt-5">
          <a class="text-decoration-none" href="#">Foot Ball</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Tennis</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Basket Ball</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Volley Ball</a>
        </div>
        <div class="bg-primary p-2" style="border-radius: 2px">
          <div class="text-justify font-italic" style="font-size: 20px">
            TRENDING SEARCHES
          </div>
        </div>

        <div class="m-3">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> X BOX</a
          >
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> FiFa 2020</a
          >
        </div>
        <div class="m-3" style="box-shadow: 1px 1px 1px 1px #ccc"></div>
        <div class="m-3 mt-5">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> Shirt</a
          >
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> Kurti</a
          >
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> Jeans</a
          >
        </div>
        <div class="m-3" style="box-shadow: 1px 1px 1px 1px #ccc"></div>
        <div class="m-3 mt-5">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> Foot Ball</a
          >
        </div>
      </div>
    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
