<div class="container">
  <div class="row">
    <div class="col-3">
      <div style="box-shadow: 1px 1px 1px 1px #ccc">
        <div class="bg-primary p-2" style="border-radius: 2px">
          <div class="text-justify font-italic" style="font-size: 20px">
            Categories
          </div>
        </div>

        <div class="m-3">
          <a class="text-decoration-none" href="#">Men's Fashion</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Women's Fashion</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Kid's Fashion</a>
        </div>
        <div class="m-3" style="box-shadow: 1px 1px 1px 1px #ccc"></div>
        <div class="m-3 mt-5">
          <a class="text-decoration-none" href="#">Electronics</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Home Appliances</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Furniture</a>
        </div>
        <div class="m-3" style="box-shadow: 1px 1px 1px 1px #ccc"></div>
        <div class="m-3 mt-5">
          <a class="text-decoration-none" href="#">Foot Ball</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Tennis</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Basket Ball</a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#">Volley Ball</a>
        </div>
        <div class="bg-primary p-2" style="border-radius: 2px">
          <div class="text-justify font-italic" style="font-size: 20px">
            TRENDING SEARCHES
          </div>
        </div>

        <div class="m-3">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> X BOX</a
          >
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> FiFa 2020</a
          >
        </div>
        <div class="m-3" style="box-shadow: 1px 1px 1px 1px #ccc"></div>
        <div class="m-3 mt-5">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> Shirt</a
          >
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> Kurti</a
          >
        </div>
        <div class="m-3">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> Jeans</a
          >
        </div>
        <div class="m-3" style="box-shadow: 1px 1px 1px 1px #ccc"></div>
        <div class="m-3 mt-5">
          <a class="text-decoration-none" href="#"
            ><span class="glyphicon glyphicon-search"></span> Foot Ball</a
          >
        </div>
      </div>
    </div>
    <div class="col-8">
      <!-- Slide Show -->

      <div id="slideshow" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#slideshow" data-slide-to="0" class="active"></li>
          <li data-target="#slideshow" data-slide-to="1"></li>
          <li data-target="#slideshow" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="./assets/images/p1.jpg"
              alt="Pic1"
              width="100%"
              height="170px"
              class="img-fluid"
            />
          </div>
          <div class="carousel-item">
            <img
              src="./assets/images/p2.jpg"
              alt="Pic2"
              width="100%"
              height="170px"
              class="img-fluid"
            />
          </div>
          <div class="carousel-item">
            <img
              src="./assets/images/p3.jpg"
              alt="Pic3"
              width="100%"
              height="170px"
              class="img-fluid"
            />
          </div>
        </div>
        <a class="carousel-control-prev" href="#slideshow" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#slideshow" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <!--  Closing of Slide Show -->
      <div
        class="display-4 mt-5 ml-5 font-weight-bold"
        style="color: darkslategrey"
      >
        Recommendation for You
      </div>
      <div class="row">
        <div *ngFor="let product of data" class="col-4">
          <a href="#" class="text-decoration-none" >
            <section class="card my-5" style="box-shadow: 1px 1px 1px 1px aqua;">
              <img
                style="height: 200px"
                class="img-fluid rounded-0"
                [src]="'./assets/productImages/' + product.picId + '1.jpg'"
              />
              <div class="font-weight-bold m-2">{{ product.productName }}</div>
              <div class="font-weight-bold text-dark m-1">
                {{ product.productId }}
              </div>
              <div class="justify-content-between d-flex">
                  <div class="item m-4"><i class="fas fa-shopping-cart"></i> Add to cart</div>
                  <div class="item m-4"><i class="fa fa-eye" aria-hidden="true"></i> View</div>
              </div>
            </section>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
